h1 {
    display: flex;
    justify-content: center;
}
:host{
    display: grid;
    justify-content: center;
    
}
.four{
    margin : 0 auto;
}
.Links{
    display: flex;
    justify-content: center;
    a{
        margin: 10px;
    }

}

.Six{
    min-height: 35vh;
}