
<form [formGroup]="myForm" (ngSubmit)="submitForm()"> 

    <div class="forma">
        <div class="fieldNames">

        <label>Email :</label>
        
        <label>UserName :</label>

        <label>Birth Date 'yyyy-mm-dd':</label>
        <label>Password :</label>

        <label>Confirm Password : </label>
        <label>Hobbies :</label>
        </div>

        <div class="fields">

        <div class="emailField">
        <input formControlName="email">
          @if (myForm.controls['email'].invalid && myForm.controls['email'].touched){
          <div class="error">
            <p>invalid Email</p>
          </div>
        }
        </div>
        <div class="emailField">
        <input formControlName="username">
          @if (myForm.controls['username'].invalid && myForm.controls['username'].touched){
          <div class="error">
            <p>invalid Name</p>
          </div>
        }
        </div>

        <div class="emailField">
        <input formControlName="birthdate">
          @if (myForm.controls['birthdate'].invalid && myForm.controls['birthdate'].touched){
          <div class="error">
            <p>invalid Date</p>
          </div>
        }
        </div>

        <div class="emailField">
        <input formControlName="password">
          @if (myForm.controls['password'].errors?.['invalidPass']&&
          myForm.controls['password'].touched){
          <div class="error">
           <p>{{ myForm.controls['password'].errors?.['invalidPass'] }}</p>
          </div>
        }
        </div>
        
       <div class="emailField">
        <input formControlName="confirmPassword">
          @if (myForm.errors?.['mismatchPasswords'] && myForm.controls['confirmPassword'].touched){
          <div class="error">
            <p>Passwords Don't match</p>
          </div>
        }
        </div>

        <input formControlName="hobbies">
        </div>

    </div>
    <div class="hBtn">
    <button type="button" class="HobbyBtn" (click)="addHobby()">Add</button>
    <button type="button" class="HobbyBtn" (click)="deleteHobby()" [disabled]="hobbyArr.length < 1">Delete</button>
    </div>
   <div class="hobbies">
    @for (item of hobbyArr; track $index) {
      <span>{{item}}</span>
    }
  
   </div>
    <button type="submit">Submit</button>
</form>



<div class="forms">
  @for (User of submittedData; track $index) {
    <div class="SavedForm">
 <h3>Анкета {{($index+1)}}</h3>
 <p>Name : {{User.username}}</p>
 <p>Birth date : {{User.birthdate}}</p>
 <p>Email : {{User.email}}</p>
 <p>Hobbies : {{User.hobbies}}</p>
 <p></p>
    </div>

}
</div>

<!-- export interface UserForm{
  username : string;
  birthdate : string;
  password : string;
  confirmPassword : string
  hobbies : string;
} -->